<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Basic&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/gamesMenu.css">
    <title>qwerty.</title>
</head>

<body>
    <div id="container" class="is-flex is-column"> <!-- main container -->
        <div id="back-button">
            <a href="/">
                <div class="back-button link-button">
                    Back
                </div>
            </a>
        </div>
        <section id="games-container">
            <a class="game-link" href="/games/typeracer">
                <section id="selection-container">

                </section>
            </a>
            <a class="game-link" href="/games/tapstorm">
                <section id="selection-container">

                </section>
            </a>
        </section>
        <div class="background-container"></div>
    </div>
</body>

</html>