<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Basic&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/keyTest.css">
    <link rel="stylesheet" href="/css/keyboard.css">
    <link rel="stylesheet" href="/css/swupTransition.css">

    <title>qwerty.</title>
</head>

<body>
    <div id="container" class="is-flex is-column"> 
        <section id="title-container">
            <div class="title">
                <p>Keyboard Tracker</p>
                <p class="sub">A mini project by <a href="https://github.com/Renzoki">Renz</a></p>
            </div>
            <div class="side-menu">
                <a href="/typeracer">
                    <div class="game-button link-button">
                        Type Racer
                    </div>
                </a>
                <a href="https://github.com/Renzoki/qwerty.">
                    <div class="github-button link-button">
                        Github Repo
                    </div>
                </a>
            </div>
        </section>
        <%- include('partials/keyboard'); %>
        <div class="background-container"></div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/keydown.js"></script>
<script type="module" src="/js/swupTransition.js"></script>


</html>