:root {
    --keyBorderColor: #393e41;
    --backgroundColor: #f6f7eb;
    --keyPressColor: #e94f37;
}

body {
    margin: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in-out;
    background-color: var(--backgroundColor);
    overflow: auto;
}

.background-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-repeat: repeat;
    background-image: url(../assets/grid-background.png);
    opacity: 0.15;
}

#title-container {
    width: 1300px;
    color: var(--keyBorderColor);
    font-size: 5em;
    font-weight: bold;
    font-family: Martian Mono;
    animation: 1s ease-out 0s 1 becomeClear;
    justify-content: flex-start;
    z-index: 0;
    text-align: start;
    z-index: 10;
    letter-spacing: -3px;
    display: flex;
    justify-content: space-between;
}

#title-container a {
    text-decoration: none;
    color: inherit;
}

#title-container p {
    margin: 0;
}

#title-container .sub {
    font-size: .3em;
    margin-top: .5em;
    font-weight: normal;
}

#title-container .side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 120%;
}

.game-button, .github-button {
    width: 6.5em;
    font-size: .4em;
    border: 2px solid var(--keyBorderColor);
    box-shadow: 5px 5px var(--keyBorderColor);
    background-color: var(--backgroundColor);
    text-align: center;
    padding: .2em 0;
    border-radius: .2em;
    transition: .3s transform ease-in-out;
}

.github-button {
    width: 7em;
}

.link-button:hover {
    transform: translateY(-5px);
}

/* Transition */
@keyframes becomeClear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}